<!doctype html>
<html lang="en" class="ui-mobile">
    <head>
        <title>webOnkyo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css">
        <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
        <script type="text/javascript">
          var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        {% block head %}{% endblock %}
    </head>
    <body class="ui-mobile-viewport ui-overlay-c">

        {% block body %}{% endblock %}

    </body>
</html>